body {
	font-family: serif;
}

.quote {
	font-size: 2em;
}

blockquote {
	border: none;
}

blockquote:before {
	display: block;
	float: left;
	margin-right: .5em;
	font-size: 500%;
	content: '\201C';
	color: #bababa;
}

.author {
	text-align: center;
}

img {
	width: 100%;
	margin-bottom: 1em;
}

button {
	margin: 1em;
}

.feedback, .score {
	font-size: 2em;
	text-align: center;
}

.final-score {
	font-size: 3em;
	text-align: center;
}

.credits {
	font-size: 75%;
}